.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  height: 100vh;

  background: url("/assets/HomePageImages/intro.jpg") center no-repeat;
  background-size: cover;
}

.intro_inner {
  width: 100%;
  max-width: 941px;

  margin: 0 auto;

  > .intro_title {
    font-family: "Montserrat", sans-serif;
    font-size: 38px;
    font-weight: 900;
    line-height: 1.3;

    text-transform: uppercase;
    text-align: center;
  }

  > .intro_subtitle {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 600;

    margin-top: 38px;

    text-align: center;
  }

  > .intro_form {
    display: flex;
    justify-content: center;
    margin-top: 24px;

    > .intro_form_input {
      width: 100%;
      max-width: 380px;
      height: 55px;

      border: 1px solid rgba(0, 0, 0, 0);
      background-color: rgba(199, 199, 199, 0.308);

      label {
        color: rgba(0, 0, 0, 0.87);
      }

      &:focus-within label {
        color: rgba(0, 0, 0, 0.87);
        font-size: 18px;
      }
    }

    > .intro_form_btn {
      width: 100%;
      max-width: 200px;
      height: 55px;

      margin-left: 10px;

      font-size: 22px;
      font-weight: 800;

      cursor: pointer;
      color: #fff;
      border-radius: 3px;
      background-color: #007aff;
      transition: background-color 0.2s linear;

      &:hover {
        background-color: #0563c7;
      }
    }
  }
}
