.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  width: 100%;

  padding: 20px 0px;

  border-bottom: 1px solid #cac8c8;

  .header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    > .header_logo {
      font-family: "Montserrat", sans-serif;
      font-size: 35px;
      font-weight: 800;
    }

    > .header_btn {
      width: 100%;
      max-width: 80px;
      height: 30px;

      font-size: 14px;
      font-weight: 600;

      padding: 4px 16px;

      cursor: pointer;
      color: #fff;
      border-radius: 3px;
      background-color: #007aff;
      transition: background-color 0.2s linear;

      &:hover {
        background-color: #0563c7;
      }
    }
  }
}
